<!DOCTYPE html>
<html lang="Pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dodaj zadanie</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/form.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="/images/to-do.png" type="image/x-icon">
</head>
    <div class="task-box box">
        <div class="message">
            <%= message %> 
        </div>
    <h1>Dodaj zadanie</h1>
    <form action="/addCard" method="POST">
        <div class="container">
            <div>
                <textarea id="text" name="text" rows="10"  placeholder="Wprowadź treść zadania" required></textarea>
            </div>
            <div>
                <input type="date" id="date" name="date"  required>
            </div>
            <button type="submit">Dodaj zadanie</button>
        </div>
    </form>
    <a href="/cards">Powróć do strony głownej</a>
    </div>
</body>
</html>