<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logowanie</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/form.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="/images/to-do.png" type="image/x-icon">
</head>
<body>
    <div class="box">
        <div class="message">
            <%= message %> 
        </div>
        <h1>Logowanie</h1>
        <form action="/login" method="POST">
            <div class="container">
                <div>
                    <input type="text" id="name" name="name" placeholder="Wprowadź login" required>
                </div>
                <div>
                    <input type="password" id="password" name="password" placeholder="Wprowadź hasło" required>
                </div>
                <button type="submit">Zaloguj</button>
            </div>
        </form>
        <a href="/register">Nie masz konta? Kliknij tutaj!</a>
    </div>
</body>
</html>