
* {
    border-radius: 20px;
}
.container{
    width: 90%;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.342);
    display: grid;
    grid-template-columns: 22% auto;
    padding: 1%;
}

/* MENU */
.menu {
    columns: 1;
    width: 90%;
    display: grid;
    grid-template-rows: 2 2 1 1 1;
    justify-content: stretch;
    align-items: stretch;
    padding: 0% 2%;
}

/* Profile */
.menu img{
    width: 100px;
}

.user-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 100%;
    padding-top: 10%;
    overflow: hidden;
}

.user-box h5 {
    font-size: 1.5em;
    margin: 5%;
}

/* Stats */
.menu .stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: white;
    margin: 5% 0 0 0;
    text-align: center;
}
.menu .stats p {
    font-size: 1.5em;
    font-weight: bold;
}

/* Links */
.menu a {
    width: 100%;
    background-color: white;
    margin: 5% 0 0 0;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-self: stretch;
    padding: 5% 0;
}

.menu a:hover {
    transition: 0.2s;
    border-radius: 30px;
}



/* TASKS */
.tasks{
    grid-column-start: 2;
    padding: 1%;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    column-gap: 1.5%;
    overflow-y: scroll;
}

.tasks h1 {
    margin-left: 5%;
}

.todo {
    grid-column-start: 1;
}

.inprogress {
    grid-column-start: 2;
}

.done {
    grid-column-start: 3;
}

/* CARDS */
.card {
    width: 100%;
    border: white 1px solid;
    background-color: white;
    margin: 1%;
    padding: 1%;
    display: flex;
    flex-direction: column;
}

.text {
    padding: 0 5%;
    display: block;
}

.date{
    padding-right: 5%;
}

.inner-box{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
    border-radius: 0;
    font-size: 0.9em;
}

.card:hover{
    transition: 0.2s;
    border-radius: 30px;
}

.options{
    display: inline;
    visibility: hidden;
    margin-left: 5%;
}

.dropdown-content {
    text-decoration: none;
    text-align: center;

}

.dropdown:hover .options {
    visibility: visible;
}

.dropdown:hover .dropdown-content {
    color: gray;
    float: left;
}

.date {
    text-align: right;
    font-weight: bold;
}

.text-done{
    text-decoration: line-through;
}