@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

body{
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
    background-size: contain;
    background-repeat: round;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



